body, html {
  height: 100%;
}

.bg {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

@media (max-width: 800px) {
  .bg{
    width: 100%;
  }
}


@media(max-width: 800px){
  .loadingtext{
    font-size: 15px; 
  }
}




.loadingtext{
        position: absolute;
        z-index: 999;
        margin-left: 10px;
        left: 0;
        right: 0;        
        text-align: center;
        top: 60%;
        font-family: Arial,sans-serif;
}