<head>
	<link href= "/public/assets/login.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <div class="container-login100" style="background-image: url('');">
<% if(messages.error){%>
  <%= messages.error %>
  <%} %>
<form action="/login" method="POST">
  <h1>Login</h1>
<div>
  <label for="email">Email</label>
  <input type="text" id="email" name="email" required>
</div>
<div>
  <label for="password">password</label>
  <input type="password" id="password" name="password" required>
</div>
<button type="submit">Login</button>
</form>


<a href="/register">Register</a>
</div>
</body>
